body {
	margin: 0;
	background: #f3f3f3;
	font: 13px/1.6 'Open Sans', sans-serif;
	color: #777;
}
.header {
	background: #76c7c0 url(../images/decor.png) repeat-x 0 100%;
	padding: 20px 0;
	/*width: 1170px;
	margin: 0 auto;*/
}
.container {
	overflow: hidden;
	width: 1170px;
	margin: 0 auto;
}
.main-nav {
	float: right;
}
.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-nav li {
	display: inline-block;
	margin: 0 0 0 5px;
}
.main-nav a {
	display: inline-block;
	padding: 5px 14px;
	color: #fff;
	background: #62a29e;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: inset 0 -3px 0 #528b86;
}
.main-nav a:hover {
	color: #ffffff;
	background: #e8645a;
	box-shadow: inset 0 -3px 0 #e2534b;
}
.header-right {
	float: right;
	background: #cfa;
	padding: 20px;
}
.ico-search {
	display: inline-block;
	margin: 8px;
	float: right;
}
.home {
	margin: 0;
	border: 0;
	background: #7f8c8c;
	height: 500px;
	text-align: center;
	color:#ffffff;
}
.slider {
	margin: 0 auto;
	max-width: 1055px;
	text-align: center;
}
.vestibulum {
	padding: 0 11px 3px;
	display: inline-block; 
	margin: 162px 100px 0;
	border-radius: 4px;
	line-height: 93%;
	background: #e2534b;
	font-size: 43pt;
}
.maecenas {
	padding: 0 35px;
	display: inline-block; 
	margin: 10px;
	border-radius: 4px;
	background: #3f4646;
	font-size: 16pt;
	width: 480px;
}
.intro {
	margin: 0;
	border: 0;
	background: #f3f3f3;
	height: 707px;
	color:#ffffff;
	overflow:hidden;
}
.intro1 {
	display: inline-block;
	text-align: left;
	border-radius: 4px;
	background: #ececec;
	color: #7f8c8c;
	font-size: 15px;
	width: 1170px;
	margin: 50px 162px 0;
	padding: 2px 10px;
}
.viewmore {
	padding: 17px 45px;
	display: inline-block;
	float: right;
	border-radius: 4px;
	background-color: #e8645a;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	width: 230px;
    margin: 24px;
    box-shadow: inset 0 -3px 0 #e2534b;
}
.viewmore:hover {
	background-color: #ff0f02;
	color: #FFFFFF;
    box-shadow: inset 0 -3px 0 #e2534b;
}
.section-services {
	margin: 50px 0 0 163px;
	text-align: center;
	display: inline-block;
	width: 1170px;
	height: 110px;
}
.suspendisse-box {
	float: left;
	display: inline-block;
	margin: 0 28px 0 0;
	background: #f8f8f8;
	width: 236px;
	height: 289px;
	padding: 48px 17px 26px;
	border-radius: 4px;
}
.suspendisse-box:hover {
	background: #ffffff;
}
.maecenas-box {
	float: left;
	display: inline-block;
	margin: 0 28px 0 0;
	background: #f8f8f8;
	width: 236px;
	height: 289px;
	padding: 48px 17px 26px;
	border-radius: 4px;
}
.maecenas-box:hover {
	background: #ffffff;
}
.aliquam-box {
	float: left;
	display: inline-block;
	margin: 0 28px 0 0;
	background: #f8f8f8;
	width: 236px;
	height: 289px;
	padding: 48px 17px 26px;
	border-radius: 4px;
}
.aliquam-box:hover {
	background: #ffffff;
}
.habitasse-box {
	float: left;
	display: inline-block;
	margin: 0;
	background: #f8f8f8;
	width: 236px;
	height: 289px;
	padding: 48px 17px 26px;
	border-radius: 4px;
}
.habitasse-box:hover {
	background: #ffffff;
}
.section-services button {
	padding: 17px 45px;
	display: inline-block;
	border-radius: 4px;
	background-color: #76c7c0;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	width: 200px;
	height: 54px;
    margin-bottom: 25px;
    box-shadow: inset 0 -3px 0 #62b9b0;
}
.section-services button:hover {
	background-color: #e8645a;
	color: #ffffff;
    box-shadow: inset 0 -3px 0 #e2534b;
}
.section-services h3 {
		color: #7f8c8c;
}
.section-services p {
		color: #7f8c8c;
}

.footer {
	left: 0; bottom: 0;
	background: #76c7c0 url(../images/decor-footer.png) repeat-x 0 0;
	padding: 20px 0;
	height: 300px;
	width: 100%;
